<p>Contest Owner : <%=link_to contest.user.username,user_path(contest.user.id) %> </p>
<ul>
  <li>Contest Name : <%=link_to contest.name, contest_path(contest) %></li>
  <li>Contest Description : <%= contest.description %></li>
  <li>Contest Type : <%= contest.contest_type %></li>
  <li><%= link_to "delete", contest_path(contest), method: :delete, data: {confirm: "Are you sure you want to delete #{ contest.name }?"} %> | 
    <%= link_to "edit", edit_contest_path(contest.id)%></li>
  <li><%= link_to contest.referee.name,referee_path(contest.referee_id) %>
   
</ul>
<p></p>

<p>Start : <%=distance_of_time_in_words_to_now(contest.start)%></p>
<p>Deadline : <%=distance_of_time_in_words_to_now(contest.deadline)%></p>