<%=referee.user.username%>
<li><%= link_to referee.name, referee_path(referee) %> |
    <%= link_to "edit", edit_referee_path(referee) %>
    <% if current_user?(referee.user) %>
       | <%= link_to "delete", referee_path(referee), method: :delete, 
            data: { confirm: "Delete #{referee.name}?" } %>
    <% end %></li>
<li><%=link_to "Rules", referee.rules_url%></li>
<li><%=referee.players_per_game%></li>